<button class="bet-btns" id='bet10-btn' ng-click="bjctrl.startRound(1)" ng-hide="bjctrl.playerTurn">£1</button>
<button class="bet-btns" id='bet10-btn' ng-click="bjctrl.startRound(5)" ng-hide="bjctrl.playerTurn">£5</button>
<button class="bet-btns" id='bet10-btn' ng-click="bjctrl.startRound(10)" ng-hide="bjctrl.playerTurn">£10</button>
<button class="bet-btns" id='bet10-btn' ng-click="bjctrl.startRound(20)" ng-hide="bjctrl.playerTurn">£20</button>
<button class="player-btn" id='stand-btn' ng-click="bjctrl.gimmeASplit()" ng-hide="bjctrl.playerTurn">Gimme a split</button>
<button class="player-btn" id='hit-btn' ng-click="bjctrl.hit()" ng-show="bjctrl.playerTurn">Hit me</button>
<button class="player-btn" id='stand-btn' ng-click="bjctrl.stand()" ng-show="bjctrl.playerTurn">Stand</button>
<button class="player-btn" id='dbl-down-btn' ng-click="bjctrl.doubleDown()" ng-show="bjctrl.showDoubleDownButton()">Double Down</button>
<button class="player-btn" id='split-btn' ng-click="bjctrl.split()" ng-show="bjctrl.showSplitButton()">Split</button>
<div id='player-balance' ng-model="bjctrl.playerBalance"> {{bjctrl.playerBalance}} </div>
<div id='result' ng-model="bjctrl.result"> {{bjctrl.result}} </div>
<div id='player-winnings' ng-model="bjctrl.playerWinnings"> {{bjctrl.playerWinnings}} </div>
<div id='blackjack-result' ng-model="bjctrl.blackjackResult"> {{bjctrl.blackjackResult}} </div>
