<button class="bet-btns" id='bet10-btn' ng-click="bjctrl.startRound(1)" ng-hide="bjctrl.isGameStarted">£1</button>
<button class="bet-btns" id='bet10-btn' ng-click="bjctrl.startRound(5)" ng-hide="bjctrl.isGameStarted">£5</button>
<button class="bet-btns" id='bet10-btn' ng-click="bjctrl.startRound(10)" ng-hide="bjctrl.isGameStarted">£10</button>
<button class="bet-btns" id='bet10-btn' ng-click="bjctrl.startRound(20)" ng-hide="bjctrl.isGameStarted">£20</button>
<button class="player-btn" id='hit-btn' ng-click="bjctrl.hit()" ng-show="bjctrl.isGameStarted">Hit me</button>
<button class="player-btn" id='stand-btn' ng-click="bjctrl.stand()" ng-show="bjctrl.isGameStarted">Stand</button>
<div id='player-score' ng-show="bjctrl.isGameStarted" ng-model="bjctrl.playerScore"> Player score: {{bjctrl.playerScore}} </div>
<div id='dealer-score' ng-show="bjctrl.isGameStarted" ng-model="bjctrl.dealerScore"> Dealer score: {{bjctrl.dealerScore}} </div>
<div id='result' ng-model="bjctrl.result"> {{bjctrl.result}} </div>
<div id='blackjack-result' ng-model="bjctrl.blackjackResult"> {{bjctrl.blackjackResult}} </div>
