<span id='dealer-cards' ng-repeat="card in bjctrl.dealerCards[0]">
  <img class="dealer-cards" ng-src="{{card.src}}" height='130'>
  <img id="dealer-second-card" src="/images/cards/FD.jpg" height="130" ng-hide="bjctrl.dealerTurn">
</span>
