<html>
<head>
  <title>Daryl's Palace</title>
  <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
</head>
<body>
  Welcome to Daryl's casino
  <a href="/blackjack">Blackjack</a>
  <a href="/roulette">Roulette</a>
  Please Sign in here:

  <form action='/login' method='post'>
    <input type="text" name="username" placeholder="Enter your username..."/>
    <input type="text" name="password" placeholder="Enter your password..."/>
    <button type="submit">Submit</button>
  </form>

  Register here:
  <form action='/signup' method='post'>
    <input type="text" name="username" placeholder="Enter your username..."/>
    <input type="text" name="email" placeholder="Enter your email..."/>
    <input type="text" name="password" placeholder="Enter your password..."/>
    <button type="submit">Submit</button>
  </form>
  <% if (message) { %>
    <p class="message"><%= message %></p>
  <% } %>
</body>
</html>
