<html ng-app="blackjack">
<head>
  <title>Blackjack</title>
  <script src="../bower_components/angular/angular.js"></script>
  <script src="../src/app.js"></script>
  <script src="../src/blackjackController.js"></script>
  <script src="../src/gameFactory.js"></script>
  <script src="../src/playerFactory.js"></script>
</head>
<body ng-controller="BlackjackController as bjctrl">
  Hello blackjack

  <button ng-click="bjctrl.startRound()" ng-hide="bjctrl.isGameStarted">Start</button>

  <button ng-click="bjctrl.hit()" ng-show="bjctrl.isGameStarted">Hit me</button>
  <button ng-click="bjctrl.stand()" ng-show="bjctrl.isGameStarted">Stand</button>
  <button ng-click="bjctrl.nextRound()" ng-show="bjctrl.isGameStarted">Next Round</button>

  <div id='player-cards' ng-repeat="card in bjctrl.playerCards"> Player cards: {{card.card}} </div>
  <div id='player-score' ng-model="bjctrl.playerScore"> Player score: {{bjctrl.playerScore}} </div>
  <div id='dealer-cards' ng-repeat="card in bjctrl.dealerCards"> Dealer cards: {{card.card}} </div>
  <div id='dealer-score' ng-model="bjctrl.dealerScore"> Dealer score: {{bjctrl.dealerScore}} </div>
  <div id='result' ng-model="bjctrl.result"> {{bjctrl.result}} </div>
</body>
</html>
