<html ng-app="blackjack">
<head>
  <title>Blackjack</title>
  <script src="bower_components/angular/angular.js"></script>
  <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/style.css' />
  <script src="src/app.js"></script>
  <script src="src/blackjackController.js"></script>
  <script src="src/gameFactory.js"></script>
  <script src="src/playerFactory.js"></script>
</head>
<body ng-controller="BlackjackController as bjctrl">
  <br>
  <div class="row">
    <div class="col-md-4">
      <div class="scores" id='dealer-score' ng-model="bjctrl.dealerScore">
        {{bjctrl.dealerScore}}
      </div>
      <br><br>
      <div class="scores" id='player-score' ng-model="bjctrl.playerScore">
        {{bjctrl.playerScore}}
      </div>
    </div>
    <div class="col-md-4">
      <div id='dealer'>
        <% include dealer %>
      </div>
      <br><br>
      <div id='player'>
        <% include player %>
      </div>
      <br>
      <center>
      <div id='player-buttons'>
        <% include buttons %>
      </div>
    </div>
    <div class="col-md-4">
    </div>
  </div>
  </center>
</body>
</html>
