<html ng-app="welcomeMod">
<head>
  <title>Daryl's Palace</title>
  <script src="bower_components/angular/angular.js"></script>
  <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
  <script src="src/welcome/app.js"></script>
  <script src="src/welcome/welcomeController.js"></script>
</head>
<body ng-controller="welcomeController as wellCtrl">
  Welcome to Daryl's casino
  <a href="/blackjack">Blackjack</a>
  <a href="/roulette">Roulette</a>
  Please Sign in here:

  <form ng-submit="wellCtrl.login()">
    <input type="text" ng-model="wellCtrl.email" name="email" placeholder="Enter your email..."/>
    <input type="text" ng-model="wellCtrl.password" name="password" placeholder="Enter your password..."/>
    <button type="submit">Submit</button>
  </form>

  Register here:
  <form action='/signup' method='post'>
    <input type="text" name="username" placeholder="Enter your username..."/>
    <input type="text" name="email" placeholder="Enter your email..."/>
    <input type="text" name="password" placeholder="Enter your password..."/>
    <button type="submit">Submit</button>
  </form>
</body>
</html>
