<html>
<head>
  <title>Daryl's Palace</title>
  <link rel='stylesheet' href='bower_components/bootstrap/dist/css/bootstrap.css' />
  <link rel='stylesheet' href='/stylesheets/welcome-style.css' />
  <script src="bower_components/jquery/dist/jquery.js"></script>
  <script src='bower_components/jquery-validation/dist/jquery.validate.js'></script>
  <script src="src/welcome/welcome.js"></script>
</head>
<header>
  <% include navbar %>
</header>
<body>
  <center>
  <br>

  <% if (message) { %>
    <p class="message"><%= message %></p>
  <% } %>

  <% if (user) { %>
    <h3 class='headings'>Blackjack</h3>
    <a href="/blackjack"><img id='blackjack-game' src="/images/blackjack/screenshot.png" height='200'></a>
    <br>
    <br>
    <h3 class='headings'>Roulette</h3>
    <a href="/roulette"><img src="/images/roulette/screenshot.png" height='200'></a>
 <% } else { %>

    <div id="register">

      <h1>Welcome to Daryl's Palace</h1>

      <h3>Please sign in here:</h3>

      <form action='/login' method='post'>
        <p><input type="text" size='35' id='username-login' name="username" placeholder="Enter your username..."/></p>
        <p><input type="password" size='35' id='password-login' name="password" placeholder="Enter your password..."/></p>
        <button id='submit-login' type="submit">Sign in</button>
      </form>

      <h3>New user? Register here:</h3>
      <form action='/signup' method='post' id='signup'>
        <p><input type="text" size='35' name="username" placeholder="Enter your username..."/></p>
        <p><input type="email" size='35' name="email" placeholder="Enter your email..."/></p>
        <p><input type="password" size='35' name="password" placeholder="Enter your password..."/></p>
        <p><input type="password" size='35' name="passwordConfirmation" placeholder="Confirm your password..."/></p>
        <p><input id='over18' name="over18" type="checkbox"> I am over 18</p>
        <p><button id="submit" disabled type="submit">Submit</button></p>
      </form>

    </div>

  <% } %>

</center>
</body>
</html>
