<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Home</a>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if (user) { %>
          <li><a href="/blackjack">Blackjack <span class="sr-only">(current)</span></a></li>
          <li><a href="/roulette">Roulette</a></li>
          <li><a><%= user.email %></a></li>
        <% } %>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <% if (user) { %>
          <li><a href="/signout" id='sign-out'>Sign Out</a></li>
          <li><h3 id='balance'>£<%= user.balance %></h3</li>
        <% } %>
      </ul>
    </div>
  </div>
</nav>
