body {
  background-image: url('/images/background.jpg');
}

#dealer {
  position: relative;
  z-index: auto;
  border: solid black;
  background-color: #00A300;
  height: 240px;
  width: 610px;
  border-radius: 100px;
}

#player-buttons {
  padding-top: 5px;
  border: solid black;
  background-color: #00A300;
  height: 100px;
  width: 300px;
}

.bet-btns {
  background-color: black;
  color: white;
}

.player-btn {
  background-color: black;
  color: white;
}

.scores {
  border: solid black;
  text-align: center;
  margin-left: 50px;
  padding-top: 12px;
  background-color: #00A300;
  height: 135px;
  width: 140px;
  color: white;
  font-size: 64px;
}

.square {
  position: relative;
  border: solid white;
  background-color: #00A300;
  height: 135px;
  width: 94px;
};
